<template>
    <canvas id="BeautifulParticle"></canvas>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import { BeautifulParticle } from './particle'

export default defineComponent({
    name: 'PageIndex',
    setup() {
        onMounted(() => {
            new BeautifulParticle(document.getElementById('BeautifulParticle') as HTMLCanvasElement)
        })
    }
})
</script>

<style lang="less" scoped>
canvas {
    width: 100%;
    height: 100%;
    background: black;
}
</style>

