<template>
    <canvas id="NightSky"></canvas>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import { NightSky } from './NightSky'

export default defineComponent({
    name: 'PageIndex',
    setup() {
        onMounted(() => {
            const canvas = document.getElementById('NightSky') as HTMLCanvasElement
            new NightSky(canvas).launcher()
        })
    }
})
</script>

<style lang="less" scoped>
canvas {
    width: 100%;
    height: 100%;
    background: black;
}
</style>