<template>
    <div>
        About Us

        <button @click="handleClick">Click</button>
    </div>
</template>

<script lang="ts">
import { defineComponent, inject, ref, unref } from 'vue'
import { useUserInfo } from '@/hooks/provide'

export default defineComponent({
    name: 'PageAboutUs',
    setup() {

        const tree = ref([
            {
                id: 10001,
                name: 'sssssss'
            }
        ])
        
        const global = inject('__GLOBAL__')
        console.info(global)


        setTimeout(() => {
            console.info('-----------6s update: -----------')
            console.info(global)



            // change ref
            console.info('-------------change before---------------')
            console.info(unref(tree))
            unref(tree).forEach(element => {
                element.name = 'mmmmmmmmmmm'
            })
            console.info('-------------change after---------------')
            console.info(unref(tree))
        }, 6000);

        const handleClick = () => {
            const user = useUserInfo()
            console.info(user)
        }

        return {
            handleClick
        }
    }
})
</script>

<style lang="less" scoped>

</style>
