<template>
    <div :class="prefixCls">
        <div class="top">
            <h1>噪声(Noise) - 前端应用</h1>
            <p>大自然蕴含着各式各样的纹理，小到细胞菌落分布，大到宇宙星球表面。运用图形噪声，我们可以在 3d 场景中模拟它们，本文就带大家一起走进万能的图形噪声。</p>
            <p>图形噪声，是计算机图形学中一类随机算法，经常用来模拟自然界中的各种纹理材质，如下图的云、山脉等，都是通过噪声算法模拟出来的。</p>
        </div>
        <div class="content">
            <div class="style-box" @click="handleClick('PERLIN')">Perlin Noise</div>
            <div class="style-box" @click="handleClick('SIMPLEX')">Simplex Noise</div>
            <div class="style-box" @click="handleClick('WAVELET')">Wavelet Noise</div>
            <div class="style-box" @click="handleClick('VALUE')">Value Noise</div>
        </div>
        <div class="content">
            <div class="style-box" @click="handleClick('WORLEY')">Worley Noise</div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import { useDesign } from '@/hooks/design'

export default defineComponent({
    name: 'PageNoise',
    setup() {
        const prefixCls = useDesign('noise')

        const router = useRouter()

        const handleClick = (noiseType: string) => {
            switch (noiseType) {
                case 'PERLIN':
                    router.push({ name: 'PERLIN' })
                    break;

                case 'SIMPLEX':
                    router.push({ name: 'SIMPLEX' })
                    break;

                case 'WAVELET':
                    router.push({ name: 'WAVELET' })
                    break;
                
                case 'VALUE':
                    router.push({ name: 'VALUE' })
                    break;

                case 'WORLEY':
                    router.push({ name: 'WORLEY' })
                    break;
            
                default:
                    break;
            }
        }

        return {
            prefixCls,
            handleClick
        }
    }
})
</script>

<style lang="less" scoped>
@prefix-cls: ~'@{namespace}-noise';

.@{prefix-cls} {
    position: relative;
    padding: 100px 200px;

    .top {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 200px;
        background: @primary-bg;
        border-radius: 4px;

        h1 {
            font-size: 36px;
            font-weight: bold;
            color: @primary-color;
        }

        p {
            color: @minor-color;
        }
    }

    .content {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;

        .style-box {
            display: flex;
            margin-right: 20px;
            justify-content: center;
            align-items: center;
            color: @primary-color;
            width: 200px;
            height: 100px;
            font-size: 26px;
            font-weight: bold;
            background: @primary-bg;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

</style>
