<template>
    <canvas id="PerlinNoise"></canvas>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'

export default defineComponent({
    name: 'PageIndex',
    setup() {

        // 屏幕宽高
        const WIDTH = document.body.offsetWidth
        const HEIGHT = document.body.offsetHeight

        let webgl: WebGLRenderingContext | null = null
        
        const launcher = () => {
            const canvas = document.getElementById('PerlinNoise') as HTMLCanvasElement
            canvas.width = WIDTH
            canvas.height = HEIGHT
            webgl = canvas.getContext('webgl')

            if (!webgl) {
                return false
            }
            
            // 设置 viewport
            // [37767]
            webgl.viewport(0, 0, WIDTH, HEIGHT)
            console.info(webgl.MAX_VIEWPORT_DIMS)

            console.info(webgl.getParameter(webgl.MAX_VIEWPORT_DIMS))

            // webgl 使用黑色清除所有图像
            webgl.clearColor(0, 0, 0, 1)
            // 使用上面指定的颜色清除缓冲区
            webgl.clear(webgl.COLOR_BUFFER_BIT)

            // 顶点着色器GLSL程序源码
            const vertexShaderSource = `
                void main() {
                    // 
                    gl_Position = vec4(0, 0, 0, 1);
                }
            `
            // 片元着色器GLSL程序源码
            const fragmentShaderSource = `
            
            `

            const vertexShader = createShader(webgl.VERTEX_SHADER, vertexShaderSource)
            const fragmentShader = createShader(webgl.FRAGMENT_SHADER, fragmentShaderSource)

        }

        /**
         *  创建着色器
         * @param {Number} type 着色器类型 `VERTEX_SHADER` `FRAGMENT_SHADER`
         * @param {String} source 着色器程序源码
         */
        const createShader = (type: number, source: string) => {
            if (!webgl) {
                return null
            }
            // 1. 创建着色器对象
            const shader = webgl?.createShader(type)
            if (!shader) {
                return null
            }

            // 2. 向着色器对象中填充着色器程序的源代码
            webgl?.shaderSource(shader, source)

            // 3. 编译着色器
            webgl?.compileShader(shader)

            // 4. 创建程序对象
            const program = webgl?.createProgram()
            if (!program) {
                return null
            }

            // 5. 为程序对象分配着色器
            webgl?.attachShader(program, shader)

            // 6. 链接程序对象
            webgl?.linkProgram(program)

            // 7. 使用程序对象
            webgl?.useProgram(program)

            return shader
        }

        onMounted(() => {
            launcher()
        })
    }
})
</script>

<style lang="less" scoped>
canvas {
    width: 100%;
    height: 100%;
    background: black;
}
</style>