<template>
    <RouterView />
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'LayoutDefault',
    setup() {
        
    }
})
</script>

<style lang="less" scoped>

</style>
