html,
body {
    width: 100%;
    height: 100%;
}

// A
a,
abbr,
address,
area,
article,
aside,
audio,
// B
b,
base,
bdi,
bdo,
blockquote,
body,
br,
button,
// C
canvas,
caption,
circle,
cite,
clipPath,
code,
col,
colgroup,
// D
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
// E
em,
embed,
// F
fieldset,
figcaption,
figure,
font,
footer,
form,
frame,
frameset,
// H
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hr,
html,
// I
i,
iframe,
img,
input,
ins,
// K
kbd,
keygen,
// L
label,
legend,
li,
link,
// M
main,
map,
mark,
menu,
menuitem,
meta,
meter,
// N
nav,
noframes,
noscript,
// O
object,
ol,
optgroup,
option,
output,
// P
p,
param,
picture,
pre,
progress,
// Q
q,
// R
rp,
rt,
ruby,
// S
s,
samp,
script,
section,
select,
small,
source,
span,
strike,
strong,
style,
sub,
summary,
sup,
svg,
// T
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
title,
tr,
track,
tt,
// U
u,
ul,
var,
video,
// W
wbr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}